*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}


#logo{
	width: 1000px;
	height: 120px;
	margin: 0 auto;
/* 	background-color: darkblue; */
	background-image: url(../image/jeeplogin/timg.png);
	background-size: 125px 90px;
	background-position: 800px 10px;
	background-repeat: no-repeat;
	padding-left: 100px;
	overflow: hidden;
}

#logo-wenzi{
	width: 600px;
	/* height: 80px; */
	margin-top: 15px;
	
}
#sp1{
	font-family: "blackadder itc";
	font-weight: bold;
	font-size: 60px;
	color: white;
}

#sp2{
	font-size: 15px;
	font-weight: bold;
	color: whitesmoke;
}


/* 车库 管理 */
#cark{
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ffb400;
	padding-left: 10px;
	cursor: pointer;
	color: black;
	border-bottom: 4px solid black;
	padding-bottom: 10px;
	height: 44px;
	overflow: hidden;
}

#cark ul{
	list-style-image: url(../image/jeepmycar/arrow.png);
	padding-left: 40px;
}

#cark ul li{
	height: 25px;
	font-size: 14px;
	cursor: pointer;
	margin-top:10px;
}

#cark-name{
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../image/jeepadmin/arrow_black.png);
	background-repeat: no-repeat;
	background-position: 0px 14px; 
	padding-left: 15px;
}

#cark ul li:hover{
	text-decoration: underline;
}

/* 订单管理 */
#carding{
	width: 200px;
	margin: 0 auto;
	background-color: #ffb400;
	padding-left: 10px;
	cursor: pointer;
	color: black;
	border-bottom: 4px solid black;
	padding-bottom: 10px;
	height: 44px;
	overflow: hidden;
}

#carding-name{
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url(../image/jeepadmin/arrow_black.png);
	background-repeat: no-repeat;
	background-position: 0px 14px; 
	padding-left: 15px;
}


#carding ul{
	list-style-image: url(../image/jeepmycar/arrow.png);
	padding-left: 40px;
}

#carding ul li{
	height: 25px;
	font-size: 14px;
	cursor: pointer;
	margin-top:10px;
}

#carding ul li:hover{
	text-decoration: underline;
}

/* 管理员欢迎页 */
#lookcark{
	
	width: 990px;
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
	margin-top:31px;
	padding: 10px;
	
}

/* 查询条件 */
#tiaojian{
	width: 990px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	float: right;
	margin-right: 50px;
}

#xxcarname{
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	float: right;
}

#xxcarname ul{
	list-style-type: none;
}
#xxcarname ul li{
	float: left;
	border-radius: 30px;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin-left: 10px;
	padding:5px;
	font-size: 13px;
	margin-top:5px;
}
/* 配置 */
#xxpeizhi{
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	float: right;
}
#xxpeizhi ul{
	list-style-type: none;
}
#xxpeizhi ul li{
	float: left;
	border-radius: 30px;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin-left: 10px;
	padding:5px;
	font-size: 13px;
	margin-top:5px;
}
/* 颜色 */
#xxcolor{
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	float: right;
}
#xxcolor ul{
	list-style-type: none;
}
#xxcolor ul li{
	float: left;
	border-radius: 30px;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin-left: 10px;
	padding:5px;
	font-size: 13px;
	margin-top:5px;
}

#textcont{
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
	height: 30px;
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	float: right;
	color: #ffb400;
}