*{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}
#heard{                /* 头部定义导航栏布局 */
	width: 1080px;
	height: 70px;
	margin: 0 auto;
	
	
}
#logo{
	float: left;        /* 头标志 */
	padding: 23px 0;
/* 	box-sizing: border-box; */
	cursor: pointer;
	
}
#heard-left{     /* 导航栏左边 */
	float: left;
	height: 70px;
	margin-left: 35px;
	color: #ffffff;
	width: 590px;
	
}
.cars{            /* 导航栏文字定位以及样式 */
	float: left;
	line-height: 70px;
	text-align: center;
	font-size: 16px;
	width: 98px;
}

   /* ---------------------------------------------------------------js操作区域 */
				   
#hid-car{                      /* jsjsjsjsjs隐藏区域   汽车 */
	width: 1079px;
	height: 556px;
/* 	background-color:skyblue ; */
	margin-left: -92px;
	display: none;
}
/* <!-- js隐藏区域 汽车列表 --> */
#hid-car-left{
	width: 458px;
	height: 556px;
	float: left;
	background-color: white;
}
.li-bgcolor{         /* 用于js修改li属性 */
	background-color: white;
}
#hid-car-left ul{
	list-style-type: none;
}
#hid-car-left li{
	width: 229px;
	height: 111px;
	float: left;
	cursor:pointer;
	border-bottom: 1px solid #d6d6d6;
}

#hid-car-left img{
	height: 100%;
}
/* <!-- js操作隐藏汽车区域右边总体布局       容器 --> */
#hid-car-right{
	height: 556px;
	width: 621px;
	float: right;
	background-color: white;
}
#hid-cars img{
	width: 621px;
	height: 421px;
}
/* <!--隐藏汽车 底部图片 --> */
#hid-right-bottom{
	width: 621px;
	height: 140px;
	text-align: left;
}
#hid-right-bottom img{
	width: 50%;
	float: left;
}






#heard-left a:link{       /*  导航栏链接样式 */
	text-decoration: none;
	color: #ffffff;
}
#heard-left a:hover{ /*  导航栏链接样式 */
	text-decoration:underline;
	color: #ffffff;
}
#heard-left a:visited{ /*  导航栏链接样式 */
	color: #ffffff;
}

#heard-right{                   /* 导航栏右边链接样式 */
	float: left;
	width: 399px;
	height: 70px;
}
.cars-right{     /* 导航栏右边 */
	float: left;
	line-height: 70px;
	text-align: center;
	width: 108px;
}
#xiabiao{                          /* 向下的箭头 */
	width: 8px;
	height: 8px;
/* 	position: relative; */
	border-left: 1px solid #ffffff;
	border-bottom:1px solid #ffffff ;
	float: right;
	transform:rotate(-45deg);/* 旋转 */
	margin-top: 30px;
	margin-right: 10px;
	
}
#shangbiao{                  /* 向上的箭头 */
	width: 8px;
	height: 8px;
	/* 	position: relative; */
	border-left: 1px solid #f9be01;
	border-bottom:1px solid #f9be01 ;
	float: right;
	transform:rotate(135deg);/* 旋转 */
	margin-top: 33px;
	margin-right: 10px;
	display: none;
}


#heard-right a:link{          /* 导航栏右边链接样式 */
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
}
#heard-right a:hover{
	text-decoration:underline;
	color: #ffffff;
}
#heard-right a:visited{
	color: #ffffff;
}
#search{    /* 放大镜 */
	width: 40px;
	height: 70px;
	float: left;
	background-image: url(../image/index/search.png);
	background-repeat: no-repeat;
	background-position: 7px 22px;
	margin-left: 10px;
	cursor: pointer;
	
}
#fav{       /* 收藏夹与消息(导航栏黄色标签) */
	width: 40px;
	height: 70px;
	float: left;
	background-image: url(../image/index/fav.png);
	background-repeat: no-repeat;
	background-position: 7px 22px;
	margin-left: 29px;
	cursor: pointer;
}
.fav-count{        /* 消息提示(导航栏黄色标签白点) */
	background: #fff;
	border-radius: 50%;
	text-align:center;
	position:relative;
	left: 48.5%;
	top:10%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;   /* 链接变成小手 */
}
#diqiu{                                          /* 地球图片 */
	width: 40px;
	height: 70px;
	float: left;
	background-image: url(../image/index/fca.png);
	background-repeat: no-repeat;
	background-position: 7px 22px;
	margin-left: 23px;
	cursor: pointer;
}
#bigimg{
	width: 1349px;
	margin: 0 auto;
} 



.pbq{
	width: 720px;
	margin: 0 auto;
	padding-top: 90px;
}


.pbq h2{
	color: #333333;
	text-align: center;
	padding-bottom: 30px;
}

.p1{
	color: #333333;
	font-size: 13px;
	/* margin-top: 30px; */
	padding-bottom: 30px;
}

.pbt{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 20px;
}


/* bottom文字定位容器 */
#bottom{
	width: 1080px;
	height: 276px;
	margin: 0 auto;
	padding:51px 0px ;
}

#bottom-wenzi{  /* 底部文字布局 */
	width: 1080px;
	height: 40px;
	
}

#bottom-wenzi a:link{       /* 文字连接样式 */
	text-decoration: none;
	color: #337ac6;
	font-size: 14px;
}
#bottom-wenzi a:visited{        /* 文字连接样式 */
	text-decoration: none;
	color: #337ac6;
	font-size: 14px;
}
#bottom-wenzi a:hover{          /* 文字连接样式 */
	color: #23527c;
	text-decoration: underline;
	
}

#bottom-wenzi img{        /* 微信和微博 定位*/
	width: 24px;
	height: 20px;
	float: right;
	margin-left: 30px;
}
#weixin-img{
	width: 24px;
	height: 20px;
	float: right;
	margin-left: 10px;
	position: relative;
	cursor:pointer;
}
/* js鼠标放上以后  显示的二维码  */
#onms-erweima{
	width: 160px;
	height: 236px;
	/* background-color: #23527C; */
	margin-top: -240px;
	margin-left: -76px;
	z-index: 999;
	background-image: url(../image/index/footer-qr.png);
	position: absolute;
	cursor:pointer;
	display: none;
}
/* #onms-erweima img{
	width: 160px;
	height:236px;
} */
#bottom-wenzi p{        
	color: #818181;
	font-size: 12px;
	line-height: 30px;
	margin-top: 30px;
}
