<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jeep.UserMapper.UserMapper"> 
  <resultMap id="BaseResultMap" type="cn.jeep.UserBean.User">
    <id column="uoid" jdbcType="VARCHAR" property="uoid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="upwd" jdbcType="VARCHAR" property="upwd" />
    <result column="ushenfen" jdbcType="VARCHAR" property="ushenfen" />
    <result column="uaddr" jdbcType="VARCHAR" property="uaddr" />
    <result column="usex" jdbcType="INTEGER" property="usex" />
    <result column="utell" jdbcType="VARCHAR" property="utell" />
    <result column="br" jdbcType="VARCHAR" property="br" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
  </resultMap>
  
  <!-- 购物车 -->
  <resultMap type="cn.jeep.UserBean.userGouCar" id="lookGouCar">
  	<id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="carname" jdbcType="VARCHAR" property="carname" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="colorname" jdbcType="VARCHAR" property="colorname" />
    <result column="carimg" jdbcType="VARCHAR" property="carimg" />
    <result column="jiage" jdbcType="INTEGER" property="jiage" />
  </resultMap>
  
  
  
  <sql id="Base_Column_List">
    uoid,uid,uname,upwd,ushenfen,uaddr,usex,utell,br,zt
  </sql>
	<select id="selectAllUserInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zys_users
	</select>
	
	<!-- 用户登录 -->
	<select id="login" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zys_users where uid=#{uid} and upwd=#{upwd}
	</select>
	
	<!-- 通过uid查询购物车条数 -->
	<select id="gouCarCount" resultType="java.lang.Integer">
		SELECT count(*) FROM zys_users JOIN zys_goucar ON zys_users.`uid`=zys_goucar.`uid` WHERE zys_users.`uid`=#{uid}
	</select>
	
	<!-- 验证身份证是否已经注册了 -->
	<select id="isIdCode" resultType="java.lang.Integer">
		select count(ushenfen) from zys_users where ushenfen=#{ushenfen}
	</select>
	
	<!-- 注册用户 -->
	<insert id="saveUserInfo">
		insert into zys_users(uoid,uid,uname,upwd,ushenfen,uaddr,usex,utell,br,zt)
		values(#{uoid},#{uid},#{uname},#{upwd},#{ushenfen},#{uaddr},#{usex},#{utell},#{br},#{zt})
	</insert>
	
	<!-- 用户购物车 -->
	<insert id="saveGouCar">
		insert into zys_goucar(uid,carname,pname,colorname,carimg,jiage) values(#{uid},#{carname},#{pname},#{colorname},#{carimg},#{jiage})
	</insert>
	
	<!-- 跳转到购物车页面 -->
	<select id="goGouCar" resultMap="lookGouCar">
		select * from zys_goucar where uid=#{uid}
	</select>
</mapper>






