<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jeep.UserMapper.UserMapper"> 
  <resultMap id="BaseResultMap" type="cn.jeep.UserBean.User">
    <id column="uoid" jdbcType="VARCHAR" property="uoid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="upwd" jdbcType="VARCHAR" property="upwd" />
    <result column="ushenfen" jdbcType="VARCHAR" property="ushenfen" />
    <result column="uaddr" jdbcType="VARCHAR" property="uaddr" />
    <result column="usex" jdbcType="INTEGER" property="usex" />
    <result column="utell" jdbcType="VARCHAR" property="utell" />
    <result column="br" jdbcType="VARCHAR" property="br" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
  </resultMap>
  
  <!-- 购物车 -->
  <resultMap type="cn.jeep.UserBean.userGouCar" id="lookGouCar">
  	<id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="carname" jdbcType="VARCHAR" property="carname" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="colorname" jdbcType="VARCHAR" property="colorname" />
    <result column="carimg" jdbcType="VARCHAR" property="carimg" />
    <result column="jiage" jdbcType="INTEGER" property="jiage" />
  </resultMap>

  <resultMap type="cn.jeep.UserBean.userMoreDingDan" id="lookdingdan">
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="uaddr" jdbcType="VARCHAR" property="uaddr" />
    <result column="utell" jdbcType="VARCHAR" property="utell" />
  </resultMap>
  
  <!-- 订单 -->
  <resultMap type="cn.jeep.UserBean.userDingDanShow" id="lookDingDan">
  	<id column="did" jdbcType="INTEGER" property="did" />
  	<result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="carname" jdbcType="VARCHAR" property="carname" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="colorname" jdbcType="VARCHAR" property="colorname" />
    <result column="shijian" jdbcType="VARCHAR" property="shijian" />
    <result column="uaddr" jdbcType="VARCHAR" property="uaddr" />
    <result column="zhuangtai" jdbcType="INTEGER" property="zhuangtai" />
    <result column="jiage" jdbcType="VARCHAR" property="jiage" />
  </resultMap>
  
  <sql id="Base_Column_List">
    uoid,uid,uname,upwd,ushenfen,uaddr,usex,utell,br,zt
  </sql>
	<select id="selectAllUserInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zys_users
	</select>
	
	<!-- 用户登录 -->
	<select id="login" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from zys_users where uid=#{uid} and upwd=#{upwd}
	</select>
	
	<!-- 通过uid查询购物车条数 -->
	<select id="gouCarCount" resultType="java.lang.Integer">
		SELECT count(*) FROM zys_users JOIN zys_goucar ON zys_users.`uid`=zys_goucar.`uid` WHERE zys_users.`uid`=#{uid}
	</select>
	
	<!-- 验证身份证是否已经注册了 -->
	<select id="isIdCode" resultType="java.lang.Integer">
		select count(ushenfen) from zys_users where ushenfen=#{ushenfen}
	</select>
	
	<!-- 注册用户 -->
	<insert id="saveUserInfo">
		insert into zys_users(uoid,uid,uname,upwd,ushenfen,uaddr,usex,utell,br,zt)
		values(#{uoid},#{uid},#{uname},#{upwd},#{ushenfen},#{uaddr},#{usex},#{utell},#{br},#{zt})
	</insert>
	
	<!-- 用户购物车 -->
	<insert id="saveGouCar">
		insert into zys_goucar(uid,carname,pname,colorname,carimg,jiage) values(#{uid},#{carname},#{pname},#{colorname},#{carimg},#{jiage})
	</insert>
	
	<!-- 跳转到购物车页面 -->
	<select id="goGouCar" resultMap="lookGouCar">
		select * from zys_goucar where uid=#{uid}
	</select>
	
	<!-- 删除一条购物车 -->
	<delete id="deleteGouCar">
		DELETE FROM zys_goucar WHERE gid=#{gid}
	</delete>
	
	<!-- 查询生成的订单但是未插入订单表  ==批量 -->
	<select id="moreSelectDingDan" resultMap="lookGouCar">
		select * from zys_goucar where gid in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
        #{item}
    </foreach>
	</select>
	
	<!-- 查看订单需要的用户信息 -->
	<select id="lookdingdanuser" resultMap="lookdingdan">
		SELECT uid,uname,utell,uaddr FROM zys_users WHERE uid=#{uid}
	</select>
	
	
	<!-- 批量插入 用户订单  -->
	<insert id="saveDingDan">
		INSERT INTO zys_dingdan(uid,carname,pname,colorname,carimg,shijian,zhuangtai,jiage,utell,uname,uaddr) values
		<foreach collection="arr" item="item" index="index" separator=",">
    				(
    					#{item.uid},
    					#{item.carname},
    					#{item.pname},
    					#{item.colorname},
    					#{item.carimg},
    					#{item.shijian},
    					#{item.zhuangtai},
    					#{item.jiage},
    					#{item.utell},
    					#{item.uname},
    					#{item.uaddr}
    				)
    	</foreach>	
	</insert>
	
	<!-- 批量删除旧购物车信息 -->
	<delete id="deleteOldGou">
		delete from zys_goucar where gid in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 查看所有订单 -->
	<select id="selectDingDan" resultMap="lookDingDan">
		SELECT did,uid,carname,pname,colorname,shijian,zhuangtai,jiage,uaddr FROM zys_dingdan WHERE uid=#{uid}
	</select>
	
	<!-- 查看进行订单 -->
	<select id="selectLongDingDan" resultMap="lookDingDan">
		SELECT did,uid,carname,pname,colorname,shijian,zhuangtai,jiage,uaddr FROM zys_dingdan WHERE uid=#{uid} and zhuangtai=#{zhuangtai}
	</select>
	
	<!-- 查看结束订单 -->
	<select id="selectOkDingDan" resultMap="lookDingDan">
		SELECT did,uid,carname,pname,colorname,shijian,zhuangtai,jiage,uaddr FROM zys_dingdan WHERE uid=#{uid} and zhuangtai=#{zhuangtai}
	</select>
	
	<!-- 修改订单状态 -->
	<update id="updateDingDan">
		update zys_dingdan set zhuangtai='1' where did=#{did};
	</update>
	
	<!-- 改密码 -->
	<update id="updatePwd">
		update zys_users set upwd=#{upwd} where uid=#{uid}
	</update>
	
	<!-- 改地址 -->
	<update id="updateUaddr">
		update zys_users set uaddr=#{uaddr} where uid=#{uid}
	</update>
</mapper>






